 {{ 'custom-popup.css' | asset_url | stylesheet_tag }}


<div id="product-popup" class="popup hidden">
    <div class="popup-content">
        <span id="close-popup">&times;</span>
        <img id="popup-product-image" src="" alt="Product Image">
        <h2 id="popup-product-title"></h2>
        <p id="popup-product-price"></p>
        <p id="popup-product-description"></p>
        
        <label for="popup-product-variants">Variants:</label>
        <select id="popup-product-variants">
            <!-- Variants will be dynamically loaded -->
        </select>
        
        <button id="add-to-cart-button">Add to Cart</button>
    </div>
</div>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}